.Current {
    display: flex;
    padding: 3%;

    /* align-content: center; */
    text-align: center;
    /* position: relative;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%); */
    
}

.current-status {
    /* margin: auto; */
    display: inline-block;
}