body {
  text-align: center;
  /* font-family: 'Titillium Web', sans-serif; */
  /* font-family: 'spotify-circular', sans-serif; */
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(5deg, #9869bd, #1e3264, #ac5d3f, #c4cde4);
  background-size: 800% 800%;
  
  -webkit-animation: AnimationName 18s ease infinite;
  -moz-animation: AnimationName 18s ease infinite;
  animation: AnimationName 18s ease infinite;
  /* background: linear-gradient(to top, #283048, #859398); */
  color: black;
  font-size: 110%;
  font-weight: 400;
  
}

@-webkit-keyframes AnimationName {
  0%{background-position:99% 0%}
  50%{background-position:2% 100%}
  100%{background-position:99% 0%}
}

@-moz-keyframes AnimationName {
  0%{background-position:99% 0%}
  50%{background-position:2% 100%}
  100%{background-position:99% 0%}
}
@keyframes AnimationName {
  0%{background-position:99% 0%}
  50%{background-position:2% 100%}
  100%{background-position:99% 0%}
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {

  height: 150px;
  padding: 20px;
}

.App-title {
  font-size: 5% 2em;
}

.App-intro {
  font-size: large;
}

.text{
  text-align: center;
  padding: 2%;
}
.status-message {
  /* display: flex; */
  position: fixed;
  padding: 2mm;
  text-align: left;
  top: 2mm;
  left: 2mm;
  /* transform: translate(-50%,-50%); */
  color: #fff;
  font-size: 1rem;
  background: #18192b;
  border-radius: 30px;
  border: 2px solid #3c3e63;
}

.logout {
  /* display: inline; */
  position: fixed;
  padding: 2mm;
  text-align: right;
  top: 2mm;
  right: 2mm;
  /* padding: 1%; */
  /* left: 100%; */
  /* transform: translate(-50%); */
}

.Content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: flex-start;
  padding-left: 5%;
  padding-right: 5%;
  /* flex-wrap: wrap; */
}
.Youtube {
  flex: 3;
}
.Reddit {
  /* max-width: 30%; */
  flex: 3;
}

.Current {
  flex: 4;
}

.Login {
  flex: 4;
}


@media only screen and (max-width: 500px) {
  .Content{
    flex-direction: column;
    align-items: unset;
    justify-content: space-between;
  }
  .Login {
    order: -1
  }
  
}

