.App {
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  /* background: linear-gradient(to bottom, indigo, white); */
  /* background: linear-gradient(to right, #355C7D, #6C5B7B, #C06C84 ); */
  background: linear-gradient(to top, #e8cbc0 4%, #636fa4);
  /* background: linear-gradient(to top, #283048, #859398); */
  color: white;
  font-size: 130%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {

  height: 150px;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.text{
  text-align: center;
  padding: 2%;
}
.status-message {
  /* display: flex; */
  position: fixed;
  padding: 2mm;
  text-align: left;
  top: 2mm;
  left: 2mm;
  /* transform: translate(-50%,-50%); */

  color: #fff;
  font-size: 1rem;
  background: #18192b;
  border-radius: 30px;
  border: 2px solid #3c3e63;
}

.logout {
  /* display: inline; */
  padding: 1%;
  text-align: right;
  /* left: 100%; */
  /* transform: translate(-50%); */
}